

.tabladeconsulta{
    border: 1px solid black;
}
.tabladeconsulta td{
    border: 1px solid black;
}

.boton-personalizado {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    background-color:#005BBB;
}