*{
    padding: 0px;
    margin: 0px;
}
#cabecera {
    width: 1000px;
    height: 100px;
    background-color:aquamarine;

}
#cabecera h1{

    text-align: center;
}
#menu {
    width: 1000px;
    height: 100px;
    background-color: aqua;
    clear: both;
}
#cajaContendora{

}

#submenu{
    height: 600px;
    width: 210px;
    padding: 0px 20px;
    background-color: cornflowerblue;
    float: left;



}
#listamenu li{
    list-style: none;
}
.botonSubmenu{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 100px;
    float: left;

    font-weight: 600;


    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;

    border-color: #000000;

}

#contenido{
    height: 560px;
    width: 710px;
    padding: 20px;
    background-color: burlywood;
    float: left;

}
footer{
    height: 60px;
    width: 1000px;
    padding: 20px 0px;
    background-color: darksalmon;
    float: left;
}
#botonAñadirAlta{
    margin-top: 50px;
}

.tabladeconsulta{
    border: 1px solid black;
    margin-top: 50px;
}
.tabladeconsulta td{
    border: 1px solid black;
}

.boton-personalizado {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:20px;
    padding-right:20px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    background-color:#005BBB;
}
.boton-personalizado-2 {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#000000;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
}